{% extends "layout.html" %}
{% block title %}
  Про сайт
{% endblock %}
{% block content %}
  <div class="about">
    <h1 id="description">Опис</h1>
    <p>Програма призначена для отримання характеристик деякої географічної структури, що можна представити у вигляді графа.
    Програма рахує наступні топологічні характеристики:
    <ul>
      <li>Ступінь вершин</li>
      <li>Індекс абсолютної доступності</li>
      <li>Число Кеніга</li>
      <li>Індекс Бавелаша</li>
      <li>Індекс Бічема</li>
      <li>Міру оцінки положення регіону в системі</li>
      <li>Альфа-індекс</li>
      <li>Бета-індекс</li>
      <li>Фіта-індекс</li>
    </ul>
    </p>
    <h1 id="manual">Інструкція</h1>
    <p>
      Для того щоб провести розрахунки потрібно спочатку сформувати матрицю суміжності.
      Матрицю можна записати в Excel-файл у вигляді:
    </p>
    <div class="pimg">
      <img src="{{ url_for('static', filename='img/excel_screen.png')}}" alt="Приклад Excel файлу">
      <div class="desc">Приклад заповнення файлу Excel</div>
    </div>
    <p>
      Також матрицю можна записати у форматі cvs
      <div class="pimg">
        <img src="{{ url_for('static', filename='img/csv_screen.png')}}" alt="Приклад CSV файлу">
        <div class="desc">Приклад заповнення файлу в форматі csv</div>
      </div>
    </p>

    <h1 id="tech">Технічна складова</h1>
    <p>Програма написана на сучасній мові програмування Python (3.7). Також використовуються сучасні наукові бібліотеки
    для роботи з даними та графами:
    <ul>
      <li>NumPy</li>
      <li>Pandas</li>
      <li>NetworkX</li>
    </ul>
    </p>
    <p>Бібліотека <strong>NetworkX</strong> швидко та правильно проводить всі необхідні операції з графами. Для пошуку відстаней
    використовується алгоритм Флойда-Варшелла, а саме його бібліотечна реалізація networkx <code>floyd_warshall_numpy()</code>.</p>
    <p>Бібліотека <strong>NumPy</strong> слугує для зберігання матриці суміжності та надає зручні функції для робити з масивами даних такі як
    sum() та max(). Використання бібліотеки також дозволяє користуватись низькорівневими конструкціями, що в перспективі
    вплине на швидкодію програми.</p>
    <p>Бібліотека <strong>Pandas</strong> забезпечує коректне та правильне зчитування Excel-файлу. Також бібліотека зручно взаємодіє з numpy.</p>
  </div>
{% endblock %}