<!doctype html>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
<body>
  <div class="site-container">
    <header>
        <a href="/">Розрахунок топологічних характеристик</a>
    </header>
    <div class="content">
      {% with errors = get_flashed_messages(category_filter=["error"]) %}
      {% if errors %}
        {% for error in errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
  </div>

</body>
